<?xml version="1.0"?>
<robot name="thaiquiri" xmlns:xacro="http://ros.org/wiki/xacro">
  <webots>
        <plugin type="thaiquiri_webots.drone_driver.DroneDriver" />
        <plugin type="webots_ros2_driver::Ros2IMU">
            <enabled>True</enabled>
            <updateRate>10</updateRate>
            <alwaysOn>True</alwaysOn>
            <topicName>/drone/livox/gyro</topicName>
            <gyroName>gyro_livox</gyroName>
        </plugin>
        <plugin type="webots_ros2_driver::Ros2IMU">
            <enabled>True</enabled>
            <updateRate>10</updateRate>
            <alwaysOn>True</alwaysOn>
            <topicName>/drone/livox/acc</topicName>
            <accelerometerName>accelerometer_livox</accelerometerName>
        </plugin>
        <plugin type="webots_ros2_driver::Ros2IMU">
            <enabled>True</enabled>
            <updateRate>10</updateRate>
            <alwaysOn>True</alwaysOn>
            <topicName>/drone/cube/gyro</topicName>
            <gyroName>gyro_cube</gyroName>
        </plugin>
        <plugin type="webots_ros2_driver::Ros2IMU">
            <enabled>True</enabled>
            <updateRate>10</updateRate>
            <alwaysOn>True</alwaysOn>
            <topicName>/drone/cube/acc</topicName>
            <accelerometerName>accelerometer_cube</accelerometerName>
        </plugin>
          <device reference="altimeter_cube" type="Altimeter">
            <ros>
                <enabled>true</enabled>
                <updateRate>10</updateRate>
                <topicName>/altimeter_cube</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
  </webots>
  <!-- <device reference="lidar_livox" type="Lidar">
      <ros>
          <enabled>true</enabled>
          <updateRate>10</updateRate>
          <topicName>/scan</topicName>
          <alwaysOn>true</alwaysOn>
      </ros>
  </device>
  <device reference="camera_right" type="Camera">
      <ros>
          <enabled>true</enabled>
          <updateRate>10</updateRate>
          <topicName>/camera_right</topicName>
          <alwaysOn>true</alwaysOn>
      </ros>
  </device>
  <device reference="camera_left" type="Camera">
      <ros>
          <enabled>true</enabled>
          <updateRate>10</updateRate>
          <topicName>/camera_left</topicName>
          <alwaysOn>true</alwaysOn>
      </ros>
  </device>
  <device reference="compass_cube" type="Compass">
      <ros>
          <enabled>true</enabled>
          <updateRate>10</updateRate>
          <topicName>/compass_cube</topicName>
          <alwaysOn>true</alwaysOn>
      </ros>
  </device> -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0.155 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.36 0.25 0.53"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.155 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.36 0.25 0.53"/>
      </geometry>
    </collision>
Group {
    children 
  }Group {
    children 
  }Group {
    children 
  }Group {
    children 
  }  </link>
  <link name="motor_front_left_bb">
  </link>
  <joint name="base_link_motor_front_left_bb_joint" type="fixed">
    <parent link="base_link"/>
    <child link="motor_front_left_bb"/>
    <origin xyz="0.295 0.346 0.297" rpy="-1.570795 0 0"/>
  </joint>
  <link name="motor_front_right_bb">
  </link>
  <joint name="base_link_motor_front_right_bb_joint" type="fixed">
    <parent link="base_link"/>
    <child link="motor_front_right_bb"/>
    <origin xyz="-0.297 0.346 0.297" rpy="-1.570795 0 0"/>
  </joint>
  <link name="motor_2_bb">
  </link>
  <joint name="base_link_motor_2_bb_joint" type="fixed">
    <parent link="base_link"/>
    <child link="motor_2_bb"/>
    <origin xyz="-0.297 0.346 -0.295" rpy="-1.570795 0 0"/>
  </joint>
  <link name="motor_1_bb">
  </link>
  <joint name="base_link_motor_1_bb_joint" type="fixed">
    <parent link="base_link"/>
    <child link="motor_1_bb"/>
    <origin xyz="0.295 0.346 -0.295" rpy="-1.570795 0 0"/>
  </joint>
  <link name="solid">
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.217" length="0.005"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.217" length="0.005"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_solid_joint" type="fixed">
    <parent link="base_link"/>
    <child link="solid"/>
    <origin xyz="0.2975 0.38 0.295" rpy="0 0 0"/>
  </joint>
  <link name="solid_0">
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.217" length="0.005"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.217" length="0.005"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_solid_0_joint" type="fixed">
    <parent link="base_link"/>
    <child link="solid_0"/>
    <origin xyz="0.2975 0.38 0.295" rpy="0 0 0"/>
  </joint>
  <link name="solid_1">
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.217" length="0.005"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.217" length="0.005"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_solid_1_joint" type="fixed">
    <parent link="base_link"/>
    <child link="solid_1"/>
    <origin xyz="-0.2975 0.38 0.295" rpy="0 0 0"/>
  </joint>
  <link name="solid_2">
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.217" length="0.005"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.217" length="0.005"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_solid_2_joint" type="fixed">
    <parent link="base_link"/>
    <child link="solid_2"/>
    <origin xyz="-0.2975 0.38 0.295" rpy="0 0 0"/>
  </joint>
  <link name="solid_3">
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.217" length="0.005"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.217" length="0.005"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_solid_3_joint" type="fixed">
    <parent link="base_link"/>
    <child link="solid_3"/>
    <origin xyz="0.2975 0.38 -0.295" rpy="0 0 0"/>
  </joint>
  <link name="solid_4">
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.217" length="0.005"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.217" length="0.005"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_solid_4_joint" type="fixed">
    <parent link="base_link"/>
    <child link="solid_4"/>
    <origin xyz="0.2975 0.38 -0.295" rpy="0 0 0"/>
  </joint>
  <link name="solid_5">
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.217" length="0.005"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.217" length="0.005"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_solid_5_joint" type="fixed">
    <parent link="base_link"/>
    <child link="solid_5"/>
    <origin xyz="-0.2975 0.38 -0.295" rpy="0 0 0"/>
  </joint>
  <link name="solid_6">
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.217" length="0.005"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.217" length="0.005"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_solid_6_joint" type="fixed">
    <parent link="base_link"/>
    <child link="solid_6"/>
    <origin xyz="-0.2975 0.38 -0.295" rpy="0 0 0"/>
  </joint>
  <link name="lidar_livox">
    <visual>
      <origin xyz="0.0005 0.0045 0.023" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.055" length="0.036"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0005 0.0045 0.023" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.055" length="0.036"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_lidar_livox_joint" type="fixed">
    <parent link="base_link"/>
    <child link="lidar_livox"/>
    <origin xyz="0 0.43 0" rpy="1.5708 0 0"/>
  </joint>
  <link name="gyro_livox">
  </link>
  <joint name="lidar_livox_gyro_livox_joint" type="fixed">
    <parent link="lidar_livox"/>
    <child link="gyro_livox"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="accelerometer_livox">
  </link>
  <joint name="lidar_livox_accelerometer_livox_joint" type="fixed">
    <parent link="lidar_livox"/>
    <child link="accelerometer_livox"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="ZED_X_Mini_camera">
    <visual>
      <origin xyz="0 0.004 -0.029" rpy="0 0 0"/>
      <geometry>
        <box size="0.093 0.028 0.05"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.004 -0.029" rpy="0 0 0"/>
      <geometry>
        <box size="0.093 0.028 0.05"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_ZED_X_Mini_camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="ZED_X_Mini_camera"/>
    <origin xyz="0 0.38 0.14" rpy="0 0 0"/>
  </joint>
  <link name="camera_right">
  </link>
  <joint name="ZED_X_Mini_camera_camera_right_joint" type="fixed">
    <parent link="ZED_X_Mini_camera"/>
    <child link="camera_right"/>
    <origin xyz="0.025 0.003 0.003" rpy="-0.523793 -1.570792 -1.047006"/>
  </joint>
  <link name="camera_left">
  </link>
  <joint name="ZED_X_Mini_camera_camera_left_joint" type="fixed">
    <parent link="ZED_X_Mini_camera"/>
    <child link="camera_left"/>
    <origin xyz="-0.025 0.003 0" rpy="-0.523793 -1.570792 -1.047006"/>
  </joint>
  <link name="cube_orange">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.03 0.03"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.03 0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_cube_orange_joint" type="fixed">
    <parent link="base_link"/>
    <child link="cube_orange"/>
    <origin xyz="0.093 0.325 0.042" rpy="0 0 0"/>
  </joint>
  <link name="compass_cube">
  </link>
  <joint name="cube_orange_compass_cube_joint" type="fixed">
    <parent link="cube_orange"/>
    <child link="compass_cube"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="altimeter_cube">
  </link>
  <joint name="cube_orange_altimeter_cube_joint" type="fixed">
    <parent link="cube_orange"/>
    <child link="altimeter_cube"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="accelerometer_cube">
  </link>
  <joint name="cube_orange_accelerometer_cube_joint" type="fixed">
    <parent link="cube_orange"/>
    <child link="accelerometer_cube"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="gyro_cube">
  </link>
  <joint name="cube_orange_gyro_cube_joint" type="fixed">
    <parent link="cube_orange"/>
    <child link="gyro_cube"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="battery">
  </link>
  <joint name="base_link_battery_joint" type="fixed">
    <parent link="base_link"/>
    <child link="battery"/>
    <origin xyz="0 0.262 -0.025" rpy="0 0 0"/>
  </joint>
  <link name="antenna">
    <visual>
      <origin xyz="0 0.07 -0.027" rpy="-1.570795 0 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.12"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.07 -0.027" rpy="-1.570795 0 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.12"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <box size="0.017 0.019 0.075"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.017 0.019 0.075"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_antenna_joint" type="fixed">
    <parent link="base_link"/>
    <child link="antenna"/>
    <origin xyz="0.0005 0.3785 -0.0988" rpy="0 0 0"/>
  </joint>
  <link name="solid_7">
  </link>
  <joint name="base_link_solid_7_joint" type="fixed">
    <parent link="base_link"/>
    <child link="solid_7"/>
    <origin xyz="-0.03 0.322 0" rpy="0 0 0"/>
  </joint>
</robot>
